.title {
    display: flex;
    align-items: center;
}
.photos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#man {
    width: 150px;
    height: 150px;
    object-fit: cover; /*search*/
    border-radius: 50%;
    margin-right: 30px;
}

#heart {
    width: 50px;
    height: 50px;
}

#girl {
    width: 150px;
    height: 150px;
    object-fit: cover; /*search*/
    border-radius: 50%;
    margin-left: 30px;
}

.special-day {
    display: flex;
/*양 사이드로 배치*/
    justify-content: space-between;
}

.days-left {
    text-align: right;
}

.date {
    text-align: right;
    color: #a0a0a0;
}

p {
    margin-bottom: 1px;
}